body {
    font-family: 'Signika', sans-serif;
    display: table;
}

/* main header */
.home-header {
    width: 100%;
}
.game-title {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}
.logged-in-name {
    text-align: right;
}


.home-body {
    border-spacing: 12px;
}

/* levels */
.level-row {
    width: 300px;
    /* height: 50px; */
    margin-top: 6px;
    background-color: #dddddd;
    border-radius: 4px;
}
.level-name {
    width: 100%;
}

/* tools */
.tools-header {
    width: 100%;
}
.home-tools {
    width: 500;
    height: 600;
    border-radius: 4px;
    background-color: #dddddd;
}
.tool-name {
    font-size: 18px;
    border-bottom: solid black 1px;
    margin-bottom: 5px;
}
.tool-text {
    font-size: 14px;
    margin-bottom: 5px;
}

.gold-count {
    width: 85px;
}